.PrintPreviewReport-mainLayout {
    background-color: #f9f9f9;
}

.PrintPreviewReport-htmlContainer table.jrPage {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: max-content !important;

}

.PrintPreviewReport-htmlContainer table.jrPage td span {
    font-size: 12px !important;
}

@media print {
    .PrintPreviewReport-mainLayout {
        background-color: #FFFFFF;
        display: flex;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        width: 100%;
        overflow: hidden;
    }

    .PrintPreviewReport-htmlContainer table.jrPage {
        box-shadow: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        overflow: hidden;
    }
}